main {
    background-color: transparent;
    height:4000px;
    width:1270px;
}
topbar {
    background-color: #2162A1;
}
.one img {
    /* background-color: red; */
    height:200px;
    width:200px;
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
/* .two img {
      height:200px;
    width:200px; */

.title {
    height:35px;
    width:1190px;
    color:#0F1111;
    
}